.intro {
  text-align: center;
  background-color: pink;
  padding: 5px;
  margin: auto;
  display: block;
  width: 50%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.animals img {
  float: left;
  width: 30%;
  height: auto;
  margin-right: 5px;
}

.animals h3 {
  float: left;
  border: 2px solid black;
  width: 60%;
  height: auto;
  text-align: center;
  background-color: rgb(191, 208, 240);
}

.animal-profiles div {
  width: 23%;
  height: 350px;
  float: left;
  margin-right: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color: white;
}

.animals p {
  font-size: large;
}

.animals span {
  font-weight: lighter;
  color: blueviolet;
}

.animals p span {
  font-weight: bold;
  color: rgb(33, 72, 243);
}

em {
  color: red;
}

body {
  background-color: beige;
}